html,body{
    height: 100%;
    width: 100%;
}
.btn{
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius:  9px;
    cursor:pointer;
    font-size: 17px;
    width: 66px;
}
.row{
margin: 8px 0;
}
.row input{
    width: 291px;
    margin: 0px;
    font-size: 18px;
    padding: 10px 15px;
    border:2px solid black;
    border-radius: 5px;
}